@mixin flexRow {
  display: flex;
  flex-direction: row;

}
@mixin flexColumn{
  display: flex;
  flex-direction: column;
}

@mixin asidePadding{
  padding-left: 10px;
  padding-right: 10px;
};

@mixin maxSize{
  max-width: 1200px;
  min-width: 320px;
}