@import "_fonts";
@import "_mixins";
@import "_colors";

@media (max-width: 480px) {
  .main-header {
    position: relative;
    min-width: 320px;
    height: 718px;
    background: url("../img/header-320.png")no-repeat;
    background-size: 100%;
    .nav-bar {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 103px;
      width: 100%;
      background-color: $grey;
      .logo-href{
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      &__logo {
        display: inline-block;
        position: absolute;
        background: url("../img/navbar-logo.png");
        width: 43px;
        height: 41px;
        left: 16px;
        top: 31px;
        &:hover {
          background-image: url("../img/navbar-logo-hover.png");
        }
      }
      &__button-buy {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        color: $white;
        background-color: $purple;
        border: 1px solid $purple;
        border-radius: 20px;
        width: 119px;
        height: 37px;
        .nav-bar-span {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          font-family: $﻿montserrat;
          font-weight: bold;
          font-size: 15px;
        }
        &:hover {
          cursor: pointer;
          background-color: $white;
          color: $purple;
        }
      }
      &__button-menu {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        position: absolute;
        cursor: pointer;
        right: 15px;
        width: 26px;
        height: 21px;
        &--active {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          z-index: 2;
          position: absolute;
          cursor: pointer;
          right: 15px;
          background: url("../img/burger-menu-icon.png");
          width: 100%;
          height: 100%;
        }
        &--inactive {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          z-index: 3;
          position: absolute;
          cursor: pointer;
          right: 15px;
          background: url("../img/burger-menu-icon.png");
          width: 100%;
          height: 100%;
        }
      }
      &__drop-down-menu--inactive {
        display: none;
      }
      &__drop-down-menu--active {
        position: absolute;
        top: 103px;
        min-width: 290px;
        background-color: $normalGray;
        .drop-down-menu-div {
          display: flex;
          align-items: center;
          position: relative;
          height: 87px;
          border-bottom: 1px solid $lightGray;
          .drop-down-menu-span {
            margin-left: 32px;
            color: $white;
            font-family: $﻿montserrat;
            font-size: 19px;
          }
          &:hover {
            .drop-down-menu-span {
              color: $purple;
            }
            .nav-bar__drop-down-menu--active-item {
              position: absolute;
              left: 0;
              height: 53px;
              width: 8px;
              background-color: $purple;
            }
          }
        }
      }
    }
    .title {
      &__name {
        display: flex;
        justify-content: center;
        color: $white;
        font-family: $﻿montserrat;
        font-weight: bold;
        font-size: 35px;
        padding-top: 43px;
      }
      &__description {
        color: $purple;
        font-family: $﻿montserrat;
        font-size: 13px;
        padding-top: 20px;
        padding-left: 32px;
        padding-right: 30px;
        &--first-line {
          text-align: center;
        }
        &--second-line {
          padding-top: 10px;
          text-align: center;
        }
      }
      &__addition {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        color: $lightGray;
        font-family: $﻿montserrat;
        font-size: 10px;
        text-transform: uppercase;
      }
    }
    .bottom {
      display: flex;
      justify-content: center;
      width: 100%;
      &__download-button {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 290px;
        height: 45px;
        background-color: $purple;
        border: 1px solid $purple;
        border-radius: 20px;
        position: absolute;
        bottom: -23px;
        color: $white;
        font-family: $﻿montserrat;
        font-size: 13px;
        font-weight: bold;
        &:hover{
          cursor: pointer;
          background-color: $white;
          color: $purple;
        }
      }
      &__description{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -46px;
        color: $lightGray;
        font-family: $﻿montserrat;
        font-size: 14px;
      }
    }
  }
}