@import "_fonts";
@import "_mixins";
@import "_colors";

@media (min-width: 481px) and (max-width: 992px) {
  .main-header {
    position: relative;
    min-width: 768px;
    height: 872px;
    background: url("../img/header-768.png") no-repeat;
    background-size: 100%;
    .nav-bar {
      position: relative;
      height: 118px;
      width: 100%;
      background-color: $grey;
      .logo-href{
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      &__logo {
        display: inline-block;
        position: absolute;
        background: url("../img/navbar-logo-768.png");
        width: 43px;
        height: 41px;
        left: 20px;
        top: 22px;
        &::after{
          content: "ForkIO";
          text-transform: uppercase;
          color: $purple;
          position: absolute;
          top: 9px;
          left: 57px;
          font-family: $lato;
          font-size: 24px;
          font-weight: bold;
        }
        &:hover {
          background-image: url("../img/navbar-logo-hover.png");
          &::after {
            color: $white;
          }
        }
      }
      &__button-buy {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        position: absolute;
        right: 20px;
        top: 24px;
        color: $white;
        background-color: $purple;
        border: 1px solid $purple;
        border-radius: 20px;
        width: 145px;
        height: 38px;
        cursor: pointer;
        .nav-bar-span {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          font-family: $﻿montserrat;
          font-weight: bold;
          font-size: 16px;
        }
        &:hover {
          background-color: $white;
          color: $purple;
        }
      }
      &__button-menu {
        display: none;
      }
      &__drop-down-menu--inactive {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 22px;
        width: 100%;
        .drop-down-menu-div {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          cursor: pointer;
          margin-right: 48px;
          &:last-child{
            margin-right: 0;
          }
          .drop-down-menu-span {
            font-family: $﻿montserrat;
            font-weight: bold;
            font-size: 16px;
            color: $purple;
          }
          &:hover {
            .drop-down-menu-span {
              color: $white;
            }
            .nav-bar__drop-down-menu--active-item {
              display: none;
            }
          }
        }
      }
    }
    .title {
      &__name {
        display: flex;
        justify-content: center;
        color: $white;
        font-family: $﻿montserrat;
        font-weight: bold;
        font-size: 52px;
        padding-top: 50px;
      }
      &__description {
        display: flex;
        justify-content: center;
        color: $purple;
        font-family: $﻿montserrat;
        font-size: 17px;
        padding-top: 26px;
        &--second-line {
          padding-left: 5px;
        }
      }
      &__addition {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        color: $lightGray;
        font-family: $﻿montserrat;
        font-size: 10px;
        text-transform: uppercase;
      }
    }
    .bottom {
      display: flex;
      justify-content: center;
      width: 100%;
      &__download-button {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 390px;
        height: 63px;
        background-color: $purple;
        border: 1px solid $purple;
        border-radius: 30px;
        cursor: pointer;
        position: absolute;
        bottom: -32px;
        color: $white;
        font-family: $﻿montserrat;
        font-size: 18px;
        font-weight: bold;
        &:hover{
          background-color: $white;
          color: $purple;
        }
      }
      &__description{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -65px;
        color: $lightGray;
        font-family: $﻿montserrat;
        font-size: 14px;
      }
    }
  }
}