@import "_fonts";
@import "_colors";
@import "_mixins";
@import "header-mob-style";
@import "header-tablet-style";
@import "header-laptop-style";
@import "testimonials-mob-style";
@import "testimonials-tablet-style";
@import "testimonials-laptop-style";


@media (min-width: 1201px) {
  body {
    display: flex;
    justify-content: center;

    .container {
      width: 1200px;
    }
  }
}

.container {
  min-width: 320px;

  .resEditor {
    @include flexColumn;
    margin-top: 94px;
    align-items: center;
    background: #ffffff;

    &__header {
      font-size: 30.81257px;
      color: rgba(99, 92, 115, 255);
      text-align: center;
      font-family: $﻿montserrat;
      margin-right: 28px;
      margin-left: 28px;
      font-weight: bold;
    }


    &__paragraph {
      font-size: 14px;
      line-height: 20px;
      color: #323232;
      font-family: sans-serif;
      text-align: center;
      margin-top: 23px;
      margin-bottom: 34px;
      margin-left: 27px;
      margin-right: 27px;
    }

    .actions {
      @include flexRow;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      &__watchBtn, &__starBtn, &__forkBtn {
        cursor: pointer;
        height: 26px;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        font-size: 11px;
        font-weight: bolder;
        color: #323232;
        @include flexRow;
        align-items: center;
        justify-content: center;
        margin-right: 10px;


        .watchIcon, .starIcon, .forkIcon {
          @include flexRow;
          align-items: center;
          height: 100%;
          border-right: 1px solid #d5d5d5;
          padding-right: 10px;
          padding-left: 10px;
          background-image: linear-gradient(to right top, #fbfbfb, #f9f8fc, #f6f6fd, #f4f3fe, #f1f1ff);

          svg {
            padding-right: 4px;
          }
        }

        .watchAmount, .starAmount, .forkAmount {
          padding: 6px;
        }

      }

      &__forkBtn {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 12px;
        margin-bottom: 88px;
      }
    }
  }

  .whatUget {
    @include flexColumn;
    align-items: center;
    background: #f4f4f4;


    &__header {
      color: rgba(141, 129, 172, 255);
      font-family: $﻿montserrat;
      font-weight: bold;
      font-size: 23.5px;
      margin-top: 34px;
      margin-bottom: 34px;
    }

    .tools {
      padding-left: 28px;
      padding-right: 28px;
      @include flexColumn;

      &__makeWebBetter, &__powerTool, &__expStuff, &__makeWebBetter2 {
        @include flexColumn;
        align-items: center;
        justify-content: center;
        text-align: center;

        img {
          margin-bottom: 25px;
        }

        .makeWebBetter__content, .powerTool__content, .expStuff__content, .makeWebBetter2__content {
          h3 {
            font-family: $﻿montserrat;
            font-size: 12px;
            color: rgba(50, 50, 50, 255);
            margin-bottom: 15px;
          }

          p {
            max-width: 270px;
            font-family: $lato;
            font-size: 10.3px;
            color: rgba(132, 142, 151, 255);
          }
        }

        margin-bottom: 37px;
      }


    }

    &__backgroundImageBlock {
      background: url("../img/edit1200.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 381px;
      width: 100%;
    }
  }

  .forkSubPrice {
    @include flexColumn;
    justify-content: center;
    background: url("../img/base320.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__header {
      text-align: center;
      font-size: 20.54172pt;
      color: rgba(255, 255, 255, 255);
      font-family: $﻿montserrat;
      font-weight: bold;
      margin: 0 29px 53px 34px;
    }

    .priceInf {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;

      &__studentsBlock, &__professionalBlock, &__agencyBlock, &__enterpriseBlock {
        width: 257px;
        margin-bottom: 14px;

        .blockName {
          background: #685b6a;
          font-family: $﻿montserrat;
          font-size: 17.6px;
          color: rgba(255, 255, 255, 255);
          padding-top: 46px;
          padding-bottom: 34px;
        }

        .priceDescr {
          background: #5f5161;
          @include flexColumn;
          align-items: center;

          &__blockPrice {
            font-size: 57px;
            color: rgba(255, 255, 255, 255);
            padding-top: 32px;
            padding-bottom: 24px;
            font-family: $﻿montserrat;
            font-weight: bold;
          }

          &__licenseDuration {
            font-size: 13px;
            padding-bottom: 39px;
            color: #8f8691;
            font-family: $﻿montserrat;
          }

          &__border {
            border-bottom: 5px solid #8d81ac;
            margin-bottom: 31px;
            width: 60px;
          }

          &__licenseAdvantages {
            margin: 0 23px 37px 23px;
            font-size: 15px;
            color: rgba(255, 255, 255, 255);
            font-family: $﻿montserrat;

            .license {
              margin-bottom: 12px;
            }
          }

          &__priceInfBtn {
            background: #776b79;
            @include flexRow;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            border: 0;
            width: 160px;
            height: 42px;
            font-family: $﻿montserrat;
            font-size: 11px;
            color: rgba(255, 255, 255, 255);
            margin-bottom: 40px;
            cursor: pointer;
            outline:0 !important;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

          }

        }
      }

      &__studentsBlock {
        .priceDescr {
          .licenseAdvantages {
            .license {
              margin: 0;
            }

            margin-bottom: 63px;
          }
        }
      }

      .activePriceInf {
        width: 290px;

        .blockName {
          background: #3a2d3d;
          padding: 51px 93px 43px 93px
        }

        .priceDescr {
          background: #413344;

          &__blockPrice {
            padding-top: 15px;
            padding-bottom: 21px;
          }

          &__licenseDuration {
            padding-bottom: 49px;
          }

          .licenseAdvantages {

          }

          .priceInfBtn {
            margin-top: 82px;
            margin-bottom: 47px;
            background: #d0cbd0;
            color: #776b79;
            font-size: 12px;
            font-weight: bold;
            font-family: $﻿montserrat;
            outline: 0 !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 481px) {
  .container {

    .resEditor {
      min-width: 768px;

      &__header {
        font-size: 30.8px;

      }

      &__paragraph {
        font-size: 15px;
        margin: 38px 50px 36px 50px;
      }

      .actions {
        margin-bottom: 98px;

        &__forkBtn {
          margin: 0;
          margin-right: 10px;
        }
      }
    }

    .whatUget {
      min-width: 768px;
      @include flexColumn;


      &__header {
        font-size: 30px;
        margin-top: 54px;
        margin-bottom: 60px;
      }

      .tools {
        padding-left: 30px;
        padding-right: 30px;
        @include flexColumn;
        justify-content: space-between;

        &__makeWebBetter, &__powerTool, &__expStuff, &__makeWebBetter2 {
          width: 100%;
          @include flexRow;
          flex-wrap: nowrap;
          align-items: start;
          justify-content: start;

          img {
            margin-bottom: 0;
            margin-right: 5%;
          }


          .makeWebBetter__content, .powerTool__content, .expStuff__content, .makeWebBetter2__content {
            @include flexColumn;
            text-align: left;
            max-width: 80%;

            h3 {
              font-size: 12px;

              margin-bottom: 15px;
            }

            p {
              max-width: 100%;
            }
          }


          margin-bottom: 37px;
        }

        &__makeWebBetter {
          img {
            margin-right: 23px;
          }
        }

        &__powerTool {
          img {
            margin-left: 1px;
            margin-right: 43px;
          }
        }

        &__expStuff {
          img {
            margin-right: 58px;
            margin-left: 16px;
          }
        }

        &__makeWebBetter2 {
          img {
            margin-left: 11px;
            margin-right: 52px;
          }
        }

      }

      &__backgroundImageBlock {
        background: url("../img/edit1200.png");
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        height: 519px;
        width: 100%;
      }
    }

    .forkSubPrice {
      min-width: 768px;
      background: #4b3b4e url("../img/layer2.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;

      &__header {
        font-size: 30px;
        margin: 0;
        padding-top: 70px;
      }

      .priceInf {
        width: 80%;
        align-items: center;
        justify-content: center;

        &__agencyBlock, &__enterpriseBlock {
          margin-top: 0;
          margin-bottom: 130px;
        }

        &__studentsBlock, &__professionalBlock, &__agencyBlock, &__enterpriseBlock {
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 0;
        }

        &__professionalBlock {

        }

        &__studentsBlock {

          padding-bottom: 1px;
          margin-right: 20px;
        }

        &__studentsBlock, &__professionalBlock {
          margin-top: 47px;
          margin-bottom: 20px;
        }
      }

      &__agencyBlock, &__enterpriseBlock {
        margin-top: 20px;
      }

      .activePriceInf {;
        height: 560px;
        width: 299px;
        margin-left: 0;
        margin-right: 0;

        .priceDescr {
          .priceDescr__priceInfBtn {
            margin-top: 84px;
          }
        }
      }
    }


  }
}


@media screen and (min-width: 992px) {
  .container {
    .resEditor {
      width: 1200px;

      &__header {
        font-size: 30.8px;

      }

      &__paragraph {
        font-size: 15px;
        margin: 38px 50px 36px 50px;
      }

      .actions {
        margin-bottom: 98px;

        &__forkBtn {
          margin: 0;
          margin-right: 10px;
        }
      }
    }

    .whatUget {
      width: 1200px;
      display: grid;
      grid-template-areas: 'content header' 'content background';
      grid-template-columns: 1fr 1.5fr;
      align-items: start;
      justify-content: start;


      &__header {
        grid-area: header;
        font-size: 30px;
        margin-top: 84px;
        margin-bottom: 29px;
        margin-left: 25px;
      }

      .tools {
        margin-top: 100px;
        grid-area: content;
        padding-left: 50px;
        padding-right: 50px;
        @include flexColumn;
        justify-content: space-around;

        &__makeWebBetter, &__powerTool, &__expStuff, &__makeWebBetter2 {
          width: 100%;
          @include flexRow;
          flex-wrap: nowrap;
          align-items: start;
          justify-content: start;

          img {
            margin-bottom: 0;
            margin-right: 5%;
          }


          .makeWebBetter__content, .powerTool__content, .expStuff__content, .makeWebBetter2__content {
            @include flexColumn;
            text-align: left;
            max-width: 100%;

            h3 {
              font-size: 12px;

              margin-bottom: 15px;
            }

            p {
              max-width: 100%;
            }
          }


          margin-bottom: 37px;
        }

        &__makeWebBetter {
          img {
            margin-right: 23px;
          }
        }

        &__powerTool {
          img {
            margin-left: 1px;
            margin-right: 43px;
          }
        }

        &__expStuff {
          img {
            margin-right: 58px;
            margin-left: 16px;
          }
        }

        &__makeWebBetter2 {
          img {
            margin-left: 11px;
            margin-right: 52px;
          }
        }

      }

      &__backgroundImageBlock {
        grid-area: background;
        background: url("../img/edit1200.png");
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        height: 519px;
        width: 100%;
      }
    }

    .forkSubPrice {
      width: 1200px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__header {
        font-size: 30px;
        margin: 0;
      }

      .priceInf {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @include flexRow;

        &__studentsBlock, &__professionalBlock, &__agencyBlock, &__enterpriseBlock {
          margin-left: 7px;
          margin-right: 7px;
          margin-bottom: 70px;
          margin-top: 70px;
        }

        .activePriceInf {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}