@import "_fonts";
@import "_mixins";
@import "_colors";

@media (max-width: 480px) {
  .wrapper-testimonials {
    position: relative;
    min-width: 320px;
    height: 1380px;
    background: url("../img/testmonials-bg-320.png") no-repeat;
    background-size: 100%;
    &__title {
      text-align: center;
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 61px;
      color: $white;
      font-family: $﻿montserrat;
      font-size: 26px;
      font-weight: bold;
    }
    &__blocks {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      .block {
        padding-top: 45px;
        width: 245px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__logo {
          text-align: center;
          &.logo1 {
            background: url("../img/testmonials-logo1-320.png");
            width: 165px;
            height: 43px;
          }
          &.logo2 {
            background: url("../img/testmonials-logo2-320.png");
            width: 148px;
            height: 50px;
          }
          &.logo3 {
            background: url("../img/testmonials-logo3-320.png");
            width: 64px;
            height: 64px;
          }
          &.logo4 {
            background: url("../img/testmonials-logo4-320.png");
            width: 225px;
            height: 24px;
          }
          &.logo5 {
            background: url("../img/testmonials-logo5-320.png");
            width: 166px;
            height: 34px;
          }
          &.logo6 {
            background: url("../img/testmonials-logo6-320.png");
            width: 108px;
            height: 34px;
          }
        }
        &__testimonial{
          padding-top: 37px;
          font-family: $﻿montserrat;
          font-style: italic;
          font-size: 16px;
          color: $white;
        }
      }
    }
    &__hr{
      padding-top: 44px;
      &--active-768{
        display: none;
      }
      &--active-1200{
        display: none;
      }
    }
  }
}