@import "_fonts";
@import "_mixins";
@import "_colors";

@media (min-width: 993px) {
  .wrapper-testimonials {
    position: relative;
    width: 1200px;
    height: 660px;
    background: url("../img/testmonials-bg-1200.png") no-repeat;
    background-size: 100%;
    &__title {
      text-align: center;
      padding: 98px 306px 40px 308px;
      color: $white;
      font-family: $﻿montserrat;
      font-size: 35px;
      font-weight: bold;
    }
    &__blocks {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      .block {
        padding-top: 50px;
        padding-right: 30px;
        padding-left: 30px;
        width: 306px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__logo {
          text-align: center;
          &.logo1 {
            position: relative;
            top: -10px;
            background: url("../img/testmonials-logo1-320.png") no-repeat;
            width: 165px;
            height: 64px;
          }
          &.logo2 {
            position: relative;
            top: -17px;
            background: url("../img/testmonials-logo2-320.png") no-repeat;
            width: 148px;
            height: 64px;
          }
          &.logo3 {
            position: relative;
            top: -23px;
            background: url("../img/testmonials-logo3-320.png") no-repeat;
            width: 64px;
            height: 64px;
          }
          &.logo4 {
            position: relative;
            top: 7px;
            background: url("../img/testmonials-logo4-320.png") no-repeat;
            width: 225px;
            height: 64px;
          }
          &.logo5 {
            position: relative;
            top: 2px;
            background: url("../img/testmonials-logo5-320.png") no-repeat;
            width: 166px;
            height: 64px;
          }
          &.logo6 {
            background: url("../img/testmonials-logo6-320.png") no-repeat;
            width: 108px;
            height: 64px;
          }
        }
        &__testimonial {
          //padding-top: -10px;
          font-family: $﻿montserrat;
          font-style: italic;
          font-size: 16px;
          color: $white;
        }
      }
    }
    &__hr--active-1200 {
      .text-hr-div{
        text-align: center;
        padding-left: 140px;
        padding-right: 140px;
        padding-top: 61px;
        color: $lightGray;
        font-family: $﻿montserrat;
        font-size: 14px;
      }
    }
    &__hr--active-320 {
      display: none;
    }
    &__hr--active-768 {
      display: none;
    }
  }
}
