@import "_fonts";
@import "_mixins";
@import "_colors";

@media (min-width: 481px) and (max-width: 992px) {
  .wrapper-testimonials {
    position: relative;
    min-width: 768px;
    height: 890px;
    background: url("../img/testmonials-bg-768.png") no-repeat;
    background-size: 100%;
    &__title {
      text-align: center;
      padding-left: 49px;
      padding-right: 49px;
      padding-top: 79px;
      color: $white;
      font-family: $﻿montserrat;
      font-size: 31px;
      font-weight: bold;
    }
    &__blocks {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      .block {
        padding-top: 45px;
        padding-right: 30px;
        padding-left: 30px;
        width: 306px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__logo {
          text-align: center;
          &.logo1 {
            position: relative;
            top: 20px;
            background: url("../img/testmonials-logo1-320.png") no-repeat;
            width: 165px;
            height: 64px;
          }
          &.logo2 {
            position: relative;
            top: 15px;
            background: url("../img/testmonials-logo2-320.png") no-repeat;
            width: 148px;
            height: 64px;
          }
          &.logo3 {
            position: relative;
            top: 10px;
            background: url("../img/testmonials-logo3-320.png") no-repeat;
            width: 64px;
            height: 64px;
          }
          &.logo4 {
            position: relative;
            top: 32px;
            background: url("../img/testmonials-logo4-320.png") no-repeat;
            width: 225px;
            height: 64px;
          }
          &.logo5 {
            position: relative;
            top: 35px;
            background: url("../img/testmonials-logo5-320.png") no-repeat;
            width: 166px;
            height: 64px;
          }
          &.logo6 {
            position: relative;
            top: 32px;
            background: url("../img/testmonials-logo6-320.png") no-repeat;
            width: 108px;
            height: 64px;
          }
        }
        &__testimonial {
          padding-top: 37px;
          font-family: $﻿montserrat;
          font-style: italic;
          font-size: 16px;
          color: $white;
        }
      }
    }
    &__hr--active-768 {
      .text-hr-div{
        text-align: center;
        padding-left: 51px;
        padding-right: 43px;
        padding-top: 61px;
        color: $lightGray;
        font-family: $﻿montserrat;
        font-size: 14px;
      }
    }
    &__hr--active-320 {
      display: none;
    }
    &__hr--active-1200 {
      display: none;
    }
  }
}
